form{
    height: 100vh;
}
.content-input{
gap: 1.2rem;
width: 50%;
}
input{
    all:unset;
    width: 80%;
    height: 50px;
    border: 3px #C4C3D0 solid;
    border-radius: 10px;
    background: #141414;
    color: #C4C3D0;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s ease;
}

.icons{
    width: 20%;
}
textarea{
    all:unset;
    color: #C4C3D0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    border: 3px #C4C3D0 solid;
    border-radius: 10px;
    width: 80%;
    height: 250px;
    max-width: 80%;
    max-height: 250px;
    min-height: 250px;
    min-width: 80%;
    background: #141414;
    transition: 0.3s ease-in-out;
}

.btn-sb{
   background-color: blueviolet;
    text-decoration: none;
    color: rgb(215, 215, 215);
    border: none;
    padding-inline: 50px;
    padding-block: 10px;
    border-radius: 5px;
    transition: 0.3s ease;
}
.btn-sb:hover {
    background-color: rgb(137, 24, 243);
    color: white;
    box-shadow: 0 0 20px rgba(137, 24, 243, 0.5);}

input:hover,
input:focus,
input:not(:placeholder-shown),
textarea:hover,
textarea:focus,
textarea:not(:placeholder-shown) {
  border-color: blueviolet;
}

@media (max-width: 768px) {
  .content-input {
    width: 100%;
  } 
    
  .responsive-contacto {
    display: none !important;
  }
}
