@keyframes glow-border {
    from {
      box-shadow: 0 0 15px blueviolet;
    }
    to {
      box-shadow: 0 0 25px blueviolet, 0 0 40px rgb(137, 24, 243);
    }
  }

  

i{
    transition: .5s;
}
i:hover{
    color:lightgoldenrodyellow
}

.linkedin, .ins, .git{
    font-size: 30px;
}

.linkedin:hover{
    text-shadow: 0px 0px 40px #0A66C2;
    color:#0A66C2;
    /* font-size: 35px ; */
}

.git:hover{
    color: #F0F6FC;
    text-shadow: 0px 0px 40px #fbfbfb;
    font-size: 35px ;
}
.ins,.linkedin,.git{
    color: grey;
    transition: 0.5s;
}
.ins:hover{
    color: red;
    text-shadow: 0px 0px 30px red;
    font-size: 35px ;
}
.imagen{
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    animation: glow-border 2s infinite alternate
}
.hero{
    height: 100vh;
    padding-top: 120px;
    padding-left: 130px;
}

svg {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.btn-cv {
    background-color: blueviolet;
    text-decoration: none;
    color: rgb(192, 162, 162);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s ease;
}
.btn-cv:hover {
    background-color: rgb(137, 24, 243);
    color: white;
    box-shadow: 0 0 20px rgba(137, 24, 243, 0.5);
}
.btn-contact {
    text-decoration: none;
    background-color: transparent;
    color: rgb(192, 162, 162);
    border: 1px solid rgb(219, 219, 219);;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s ease;
}  
.btn-contact:hover {
    background-color: rgb(255, 255, 255);
    color: blueviolet;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
    .hero{
        padding-left: 20px;
        padding-top: 80px;
        text-align: center;
    }
    .imagen{
        width: 200px;
    }
}
@media (max-width: 480px) {
    .hero{
        display: flex;
        align-items: start;
        justify-content: center;
        padding: 20px;
        margin-top: 50px;
    }
    .img2{
        display: none;
    }

}