.section-skills {
    height: 100vh;      
    padding: 50px 0;
} 
.carta {
    width: 100%;
    max-width: 500px;
} 

.cont-img {
    gap: 10px;
}

.img-skills {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: 0.3s ease-in-out;
}

.img-skills:hover {
    cursor: pointer;
    transform: translateY(-5px) scale(1.1);
}

.skill-card {
    display: flex;  
    flex-direction: column;
    align-items: center;
    width: 120px;
    padding: 10px;
    border-radius: 12px;
    background-color: #1f1f2e;
    transition: 0.3s ease-in-out;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    cursor: pointer;
}

.skill-card:hover {
    transform: scale(1.05);
    animation: glow-border 1s infinite alternate;;
}

.skill-card p {
    margin: 5px 0 0;
    font-size: 0.8rem;
    font-weight: bold;
    color: whitesmoke;
}

@media (max-width: 768px) {
    .section-skills {
        height: auto;
        padding: 30px 0;
    }
    
}