.links {
   position: relative;
   text-decoration: none;
   transition: color 0.5s;
   color: white;
   transition: .5s;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: 500;
   cursor: pointer;
}

   .links::after { 
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) scaleX(0);
      width: 0%;
      height: 2px;
      background-color: blueviolet;
      transition: width 0.5s ease;
   }

.links:hover::after {
   width: 100%;
   transform: translateX(-50%) scaleX(1);
}
.borde{
   border: 2px blueviolet solid;
}