.aboutme {
  margin-top: 200px;
  height: 100vh;
}

@keyframes glow-border {
  from {
    box-shadow: 0 0 15px #6A5ACD;
  }
  to {
    box-shadow: 0 0 20px #6A5ACD, 0 0 20px #7b6ece;
  }
}

.img2 {
  width: 400px;
  border-radius: 20px 100px;
  overflow: hidden;
  animation: glow-border 3s infinite alternate;
}

.textos {
  gap: 60px;
}



/* Tarjetas informativas */
.custom-card {
  width: 180px;
  border-radius: 15px;
  background-color: #1f1f2e;
  color: #C4C3D0;
  transition: 0.3s ease-in-out;
  padding: 1rem;
  cursor: pointer;
}

.custom-card:hover {
  transform: scale(1.07);
}

.custom-card i {
  color: blueviolet;
}

.tarjetas-container {
  max-width: 60%;
}
.titulo-con-icono {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  justify-content: center;
}

@media (max-width: 768px) {
  .aboutme {
    height: auto;
    margin-top: -100px;
  }

  .img2_ {
    display: none;
  }

  .textos {
    gap: 30px;
  }

  .tarjetas-container {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .aboutme {
    margin-top: -400px;
  }

  .custom-card {
    width: 120px;
    padding: 0.5rem;
  }
}